#footer {
    position: fixed; 
    left: 0; bottom: 0; 
    padding: 10px; 
    background: #FFFFFF;
    color: black; 
    width: 100%; 
	z-index: 999999999999;
   }
#footer span {
	font-size: 10px;
} 
#news {
	max-width: 600px;
}
.drop_color{
	color: #5b6064;
}
.help{
	color: red;
}
.inform{
	
	padding-top: 10px;
	}
.inform span{
	min-width: 22px;
	margin: 0 auto;
	color: #5b6064;
}
.login{
	background-color: #FFFFFF;
}

.users_data {max-width: 320px;}

#user a{
float: right;
text-decoration: none;
display: block;
padding: 0;
height: 15px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
line-height: 15px;
padding-right: 2%;

}


#user a:hover{
	color: red;
	text-decoration: underline;
    background-color: transparent !important;
}

#logout-xs{
	padding-left: 1%;
}

#logout-xs a{
float: right;
text-decoration: none;
display: block;
padding: 0;
height: 15px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
line-height: 15px;
padding-right: 2%;

}
.neworder{
	padding-left: 2%;
	color: red !important;
}
.neworder span{
	
	color: red;
}

.page_form{
	width: 70px; float: right;
}

.table, .table-responsive{
	background-color: lightgrey;
}
.table, .table-responsive p{
	color: black;
}
.container{
	padding-bottom: 50px !important;
}
.img_product{
	max-height: 70px !important;
}
.horizont{
	color: white;
	padding-bottom: 10px;
}
.container_user_data{
	margin: 0, auto;
	
}

.container_user_data h1 small{
	color: white;
}
.text_white{
	color: white !important;
}
.panel_user{
	min-height: 390px;
}
.user-buttom {
	margin: 15px 0 15px 0;
}
